click==7.1.1
cycler==0.10.0
dnspython==1.16.0
email-validator==1.1.0
Flask==1.1.2
Flask-WTF==0.14.3
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
nltk==3.5
numpy==1.18.3
pandas==1.0.3
pickle4==0.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.7
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
sklearn==0.0
tqdm==4.46.0
Werkzeug==1.0.1
WTForms==2.3.1
